@font-face {
    font-family: "IBM";
    src: url("./Assets/Fonts/IBMPlexSansArabic-SemiBold.ttf");
}
@font-face {
    font-family: "IBM Light";
    src: url("./Assets/Fonts/IBMPlexSansArabic-Medium.ttf");
}
@font-face {
    font-family: "IBM Regular";
    src: url("./Assets/Fonts/IBMPlexSansArabic-Regular.ttf");
}


::-webkit-scrollbar,
::-webkit-scrollbar-track {
    width: 0;
}

.App {
    background: url(./Assets/Images/img-4.png) no-repeat;
    background-size: cover;
    background-position: center center;
    animation: change 20s linear infinite;
}

.Overlay {
    background-color: #00000099;
}

@keyframes change {
    0% {
        background: url(./Assets/Images/img-1.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    25%{
        background: url(./Assets/Images/img-2.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    50% {
        background: url(./Assets/Images/img-3.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    75% {
        background: url(./Assets/Images/img-4.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    100% {
        background: url(./Assets/Images/img-5.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }
}


@media screen and (min-width: 610px) {

    .Overlay {
        gap: 4.1rem;
    }

    .Hero {
        padding-top: 3rem !important;
    }
    
    .SocialLinks {
        width: 40rem;
        padding: 3rem 3rem !important;
        flex-direction: row !important;
    }

    a {
        width: 15rem !important;
        /* display: block; */
    }

    .MainImage img {
        width: 46rem;
        height: 25rem;
    }

    .Hero img {
        width: 20rem;
    }
    
    .Hero .HeroText {
        width: fit-content;
    }

.Left {
    margin-top: 0 !important;    
}
}